*{
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  body {
    background-color: #eee;
    font-family: 'Nunito', sans-serif;
  }
  
  .container {
    margin-left: 250px;
    transition: margin-left .2s ease-in ;
  }
  
  .container.inactive {
    margin-left: 80px;
  }